@CHARSET "UTF-8";
#barIcon_settings{
	position: absolute;
	background: transparent;
	width: 64px;
	height: 64px;
	z-index: 4;
	bottom: 5px;
}
#bash_holder{
	position: absolute;
	background: transparent;
	margin: 1%;
	width: 98%;
	height: 96%;
	z-index: 4;
}
#bash{
	position: absolute;
	height: 100%;
	width: 100%;
	background: transparent;
}
#bash_topbar{
	position:absolute;
	background: transparent;
	width: 100%;
	height: 40px;
}
#bash_content{
	margin-top: 40px;
	position: absolute;
	top:5px; left:5px; right:5px; bottom:5px;
	background: transparent;
}
#bash_background{
	position: absolute;
	width: 100%;
	height: 100%;
	-moz-border-radius: 10px; /* Firefox */
	-webkit-border-radius: 10px; /* Safari, Chrome */
	-khtml-border-radius: 10px;
	border-radius: 10px;
	opacity: 0.9;
	-moz-opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	background: rgb(242,146,0);
	border-style: solid;
	border-color: black;
}
#bash_close{
	width: 45px;
	height: 45px;
	float: left;
	margin-top:0px;
}
#bash_name{
	position:absolute;
	left: 40px;
	background: transparent;
	height: 100%;
}
#bash_pane{
	position: absolute;
	width: 100%;
	height: auto;
}