##########################################################
#														 #
# This is the Configuration file of the Phaenovum Portal,#
# Please copy this file and call it settings.ini         #
# Check if the file .htacces file is in there			 #
#														 #
##########################################################

#######################
#General Information  #
#######################
super-admin-pw = 'sample'


########################
#      IRC-server      #
########################
irc-server = 'localhost'


########################
#  LDAP Configuration  #
########################
ldap-server = 'localhost'
#notice like this'ou=People'
ldap-usr-group = 'ou=people'
#notice like this'dc=..., dc=...'
ldap-base-dn = 'dc=ldap-server, dc=local'


#############################
# Mysql-Server Configuration#
#############################
mysql-server = '127.0.0.1'
mysql-benutzer = 'Portalusr'
mysql-password = 'Portalpw'
mysql-datenbank = 'Portaldb'
