#icon{
	
}
#toolbar{
	position: absolute;
	float: left;
	height: 30px;
	width: 200px;
	left: 0px;
	bottom: 0px;
	border-style: solid;
	border-color: black;
}
#leftlist{
	overflow: auto;
	position: absolute;
	float: left;
	top: 0px;
	left: 0px;
	bottom: 30px;
	
	width: 200px;
	border-style: solid;
	border-color: black;
}
#editor{
	position: absolute;
	top: 0px;
	left: 220px;
	right: 0px;
	bottom: 0%;
	overflow: auto;
	float: left;
}
