#ldap-sidebar{
	overflow: auto;
	position: absolute;
	float: left;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 200px;
	border-style: solid;
	border-color: black;
}
#ldap-content{
	position: absolute;
	top: 0px;
	left: 220px;
	right: 0px;
	bottom: 0%;
	overflow: auto;
	float: left;
}
#linkstyle-button{
	border: none;
	background: transparent;
}